.colors-shadow{primary-color:#424242;primary-color-dark:#1c1c1c;primary-color-light:#4f4f4f;accent-color:#00bcd4;accent-color-dark:#009cb0;accent-color-light:#00dcf8;overlay:rgba(0, 0, 0, 0.5);body-color:#fafafa;divider-color:#dddddd;font-color-light:#d5d5d5;font-color-dark:#606060;p-color:#606060;hover-box-shadow:0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);navigation-box-shadow:0px 0px 3px 1px #1c1c1c;box-shadow:0px 1px 5px 2px #7d7d7d;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);card-box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
html, body{margin:0;padding:0;outline:0;display:block;font-family:'Roboto', sans-serif;font-size:16px;background-color:#DAE3E7;color:#606060;-webkit-overflow-scrolling:touch;-webkit-font-smoothing:subpixel-antialiased;-webkit-text-stroke:1px transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-rendering:optimizelegibility;}
h1, h2, h3, h4, h5, h6, p, a, li{font-family:'Roboto', sans-serif;}
h1, h2, h3, h4, h5, h6{font-weight:500;}
p, a, li{font-weight:400;}
h4{font-size:2em;}
h6{font-size:1.4em;}
p, blockquote{color:#606060;font-weight:300;}
.shadow{box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.15);}
a{color:#00bcd4;}
a:hover, a:active, a:focus{color:#00dcf8;text-decoration:none;outline:0;}
.swiper-container{width:100%;height:auto;}
.swiper-container .swiper-slide{padding-bottom:35px;}
.swiper-container .swiper-pagination-bullet{width:12px;height:12px;bottom:0;display:inline-block;border-radius:100%;background:#000;opacity:0.2;margin-top:20px;}
.swiper-container .swiper-pagination-bullet-active{opacity:1;background:#424242;}
.active-cat{color:#ffffff;border-bottom:2px solid #00bcd4;}
.custom-btn{background-color:#00bcd4 !important;}
.custom-btn:hover{color:#fff;outline:0;background-color:#009cb0 !important;}
.custom-btn:focus{color:#fff;outline:0;background-color:#00bcd4 !important;}
.custom-btn:active{color:#fff;outline:0;background-color:#00bcd4 !important;}
.custom-btn:active:hover{color:#fff;outline:0;background-color:#00bcd4 !important;}
.custom-btn:active:focus{color:#fff;outline:0;background-color:#00bcd4 !important;}
.back-to-top{border-radius:50%;text-align:center;position:fixed;bottom:20px;right:20px;z-index:999;visibility:hidden;opacity:0;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.back-to-top.back-to-top-is-visible{visibility:visible;opacity:1;}
#page-loader{background-color:#1c1c1c;height:100%;width:100%;position:fixed;z-index:6000;margin-top:0;top:0;}
#page-loader .text-div{width:100%;position:absolute;top:270px;color:#ffffff;}
#page-loader .text-div p, #page-loader .text-div h6{margin:0;display:block;color:#ffffff;font-size:.9em;letter-spacing:1px;font-weight:300;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);}
#page-loader .text-div h6{margin-top:5px;font-size:1.3em;}
.spinner{width:50px;height:50px;background-color:#00dcf8;margin:200px auto;-webkit-animation:rotateplane 1.2s infinite ease-in-out;animation:rotateplane 1.2s infinite ease-in-out;}
@-webkit-keyframes rotateplane{0%{-webkit-transform:perspective(120px);}
50%{-webkit-transform:perspective(120px) rotateY(180deg);}
100%{-webkit-transform:perspective(120px) rotateY(180deg) rotateX(180deg);}
}
@keyframes rotateplane{0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg);-webkit-transform:perspective(120px) rotateX(0deg) rotateY(0deg);}
50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);-webkit-transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);}
100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);-webkit-transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}
}
.section{padding:30px 0;background-color:transparent;}
.content-wrapper{width:100%;height:auto;padding:25px 20px;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:768px){.container{width:750px;}
}
@media (min-width:992px){.container{width:970px;}
}
@media (min-width:1200px){.container{width:1100px;}
}
#header{position:relative;display:block;width:100%;height:auto;background-color:#4f4f4f;}
#header nav{position:fixed;z-index:5000;width:100%;height:50px;line-height:50px;background-color:#424242;box-shadow:0 0 3px 1px #1c1c1c;}
#header nav ul li{line-height:50px;height:50px;color:#ffffff;}
#header nav ul li a{color:#ffffff;font-size:15px;padding:0;
}
#header nav ul li a:hover, #header nav ul li a:active, #header nav ul li a:focus{background-color:rgba(0, 0, 0, 0.2);color:#00dcf8;text-decoration:none;}
#header nav .nav-icon:hover, #header nav .nav-icon:active, #header nav .nav-icon:focus{color:#ffffff;text-decoration:none;}
#header nav .nav-icon i{font-size:30px;line-height:50px;}
#header nav #side-nav{color:#606060;position:fixed;z-index:4;bottom:0;top:0;left:-240px;width:240px;background-color:#ffffff;overflow-y:auto;-webkit-overflow-y:auto;transition:all 300ms;-webkit-overflow-scrolling:touch;}
#header nav #side-nav #nav-header{width:100%;height:auto;padding:10px;background-color:#424242;}
#header nav #side-nav #nav-header #nav-profile{position:relative;top:10px;margin-bottom:20px;width:70px;height:70px;border-radius:50%;}
#header nav #side-nav #nav-header #nav-profile img{width:100%;height:100%;border-radius:50%;}
#header nav #side-nav #nav-header h6{position:relative;margin:10px 0;color:#ffffff;font-size:1.2em;font-weight:300;line-height:25px;}
#header nav #side-nav #nav-link-wrapper{width:100%;margin-top:15px;padding-bottom:25px;overflow-y:auto;-webkit-overflow-scrolling:touch;}
#header nav #side-nav #nav-link-wrapper ul li{line-height:40px;width:100%;height:40px;padding:0;}
#header nav #side-nav #nav-link-wrapper ul li a{height:40px;line-height:40px;color:#606060;padding:0;
}
#header nav #side-nav #nav-link-wrapper ul li a:hover, #header nav #side-nav #nav-link-wrapper ul li a:active, #header nav #side-nav #nav-link-wrapper ul li a:focus{background:none;color:#00bcd4;text-decoration:none;}
#header nav #side-nav-mask{position:fixed;height:100%;width:100%;background:rgba(0, 0, 0, 0.5);left:0;top:0;opacity:.1;visibility:hidden;z-index:2;transition:all 300ms cubic-bezier(0.4, 0, 0.2, 1);transform:translateZ(0);-webkit-transform:translateZ(0);}
#header nav #side-nav-mask.visible{visibility:visible;opacity:1;}
#header h1{font-weight:400;margin-top:75px;font-size:2em;color:#ffffff;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);}
#header h4{margin-top:-25px;font-size:1.2em;line-height:1.5;font-weight:300;color:#fff;margin-bottom:110px;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.29);}
#about{position:relative;padding-top:0;margin-top:10px;height:auto;background-color:transparent;}
#about #profile{animation-delay:500ms;animation-duration:1000ms;position:absolute;width:180px;height:180px;top:-97px;left:50%;margin-left:-90px;z-index:1;display:block;border-radius:50%;background-color:#fff;padding:5px;box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);}
#about #profile img{width:170px;height:170px;border-radius:50%;}
#about #intro-div{padding:30px 0;}
#about #intro-div ul{padding:0 5px;margin-top:85px;}
#about #intro-div ul li a i{font-size:25px;color:#424242;opacity:.5;margin:0 5px;}
#about #intro-div ul li a i:hover{color:#424242;opacity:1;}
#about #intro-div p{padding:0 5%;margin:32px 0;}
#about #intro-div .btn{width:180px;height:auto;margin:10px 10px;}
.timeline{margin-top:15px;width:100%;height:auto;}
.timeline:before{content:'';position:absolute;height:90%;width:2px;background:#00bcd4;left:0;}
.timeline ul{list-style:none;padding:0;z-index:1;width:100%;}
.timeline li{background:#ffffff;position:relative;left:25px;width:95%;margin-bottom:20px;}
.timeline li i{font-size:25px;color:#00bcd4;position:absolute;top:-11px;left:-46px;}
.timeline li:before{content:'';width:0;height:0;border-top:1em solid #424242;border-left:1em solid transparent;position:absolute;left:-1em;top:0;}
@media screen and (max-width:480px){.timeline li{width:92%;}
}
@media screen and (min-width:768px){.timeline:before{left:50%;}
.timeline ul{padding-left:0;width:100%;margin:0 auto;}
.timeline li{left:0;width:43%;}
.timeline li:nth-child(even){float:right;margin-top:70px;}
.timeline li:nth-child(even):before{border-top:2em solid #424242;border-left:2em solid transparent;position:absolute;left:-2em;top:0;}
.timeline li:nth-child(even) i{position:absolute;left:-18.25%;}
.timeline li:nth-child(odd){float:left;}
.timeline li:nth-child(odd):before{border-top:2em solid #424242;border-right:2em solid transparent;right:-2em;left:auto;}
.timeline li:nth-child(odd) i{position:absolute;left:114.25%;}
.timeline li:nth-of-type(2n+1){clear:both;}
}
@media screen and (min-width:768px) and (max-width:1001px){.timeline li:nth-child(even) i{position:absolute;left:-19%;}
.timeline li:nth-child(odd) i{position:absolute;left:113%;}
}
.timeline-content .timeline-header{width:100%;height:auto;background-color:#424242;float:left;margin-bottom:20px;}
.timeline-content h3{padding:0 20px;line-height:30px;color:#fff;font-size:1.2em;font-weight:400;background-color:#424242;}
.timeline-content .sub-heading{text-decoration:none;color:#424242;padding:0 20px;line-height:1.2;font-weight:400;}
.timeline-content .content-p{padding:10px 20px 20px 20px;font-weight:300;}
.skill{padding:20px 20px;color:#ffffff;}
.skill-title{margin-top:20px;margin-bottom:40px;}
.skill-wrapper{background-color:#424242;color:#ffffff;}
.skill-progress-div{margin-bottom:22px;}
.skill-progress-div p{color:#ffffff;}
.skill-progress-div p span{float:right;}
.skill-progress{position:relative;background-color:#1c1c1c;margin:15px 0;height:3px;z-index:0;overflow:visible;}
.skill-determinate{position:absolute;height:3px;background-color:#ffffff;}
.skill-determinate .skill-determinate-circle{position:absolute;right:0;top:-7px;color:#ffffff;font-size:18px;}
#services ul{margin-bottom:0;}
#services .service-item{background-color:#ffffff;padding:20px 20px 30px 20px;}
#services .service-item i{font-size:70px;color:#424242;}
#services .service-item h6{margin:0;line-height:1.4;font-size:1.25em;font-weight:400;color:#606060;padding-bottom:20px;}
#services .service-item p{color:#606060;}
#services li:nth-child(even) .service-item{background-color:#424242;color:#ffffff;}
#services li:nth-child(even) .service-item i{color:#ffffff;}
#services li:nth-child(even) .service-item h6, #services li:nth-child(even) .service-item p{color:#ffffff;}
#portfolios{width:100%;height:auto;}
#portfolios ul li{color:#424242;cursor:pointer;display:inline-block;text-transform:uppercase;padding:10px 10px;}
#portfolios ul li a{color:#424242;font-weight:500;}
#portfolios .filtr-container{width:100%;}
#portfolios .filtr-container .portfolio{width:100%;position:relative;}
#portfolios .filtr-container .portfolio:hover{box-shadow:0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);}
#portfolios .filtr-container .portfolio img{width:100%;height:auto;-webkit-transition:0.5s ease;-moz-transition:0.5s ease;transition:0.5s ease 0s;}
#portfolios .filtr-container .portfolio figure{position:relative;overflow:hidden;margin:0;width:100%;height:auto;text-align:center;cursor:pointer;}
#portfolios .filtr-container .portfolio figure figcaption{position:absolute;top:0;width:100%;left:0;height:100%;padding:20px;text-align:center;font-weight:400;color:#ffffff;}
#portfolios .filtr-container .portfolio figure figcaption span{position:absolute;width:200px;margin-left:-100px;left:50%;top:50%;}
#portfolios .filtr-container .portfolio figure.hover-effect figcaption{background:rgba(66, 66, 66, 0.5);opacity:0;-webkit-transition:1s ease 0.15s;-moz-transition:1s ease 0.15s;-o-transition:1s ease 0.15s;transition:1s ease 0.15s;}
#portfolios .filtr-container .portfolio figure.hover-effect figcaption:hover{opacity:1;}
#portfolios .filtr-container .portfolio figure.hover-effect:hover img{-webkit-transform:scale3d(1.2, 1.2, 1.5);-moz-transform:scale3d(1.2, 1.2, 1.5);transform:scale3d(1.3, 1.3, 1);}
#portfolios .filtr-container .portfolio h6{line-height:30px;
    padding: 10px 10px 20px;
    font-size:1.2em;font-weight:400;color:#606060;}
.modal-content{position:relative;padding:50px 30px 30px 30px;background-color:#ffffff;width:100%;top:50px;margin-bottom:30px;}
.modal-content h3{
    margin: 0 0 20px;
    line-height:1.3;font-size:1.5em;font-weight:400;padding:0;text-align:left;}
@media screen and (max-width:991px){.modal-content img{padding:0;margin-bottom:20px;}
}
@media screen and (max-width:991px){.modal-content .content{padding:0;}
}
.modal-content .content p{line-height:1.3;}
.modal-content .content p span{font-weight:500;}
.modal-content .content .modal-btn{margin-bottom:20px;margin-top:5px;}
.modal-content .content .close-btn{margin-top:10px;}
.modal-overlay{position:fixed;height:100%;width:100%;background:rgba(0, 0, 0, 0.5);left:0;top:0;opacity:0;visibility:hidden;z-index:2;transition:all 1000ms cubic-bezier(0.4, 0, 0.2, 1);transform:translateZ(0);-webkit-transform:translateZ(0);}
.modal-overlay.visible{visibility:visible;opacity:1;}
.achievement{position:relative;margin:10px 0 30px 0;width:100%;height:auto;}
.achievement .achievement-top-bar{position:relative;width:100%;height:auto;background-color:#424242;padding:6px 6px;}
.achievement .achievement-top-bar h5{position:relative;top:0;margin:0;line-height:30px;font-size:1.2em;font-weight:400;color:#ffffff;padding:5px 5px;}
.achievement .achievement-inner{position:relative;width:100%;height:auto;left:0;top:0;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.achievement .achievement-inner .achievement-header{display:block;width:100%;height:200px;background-color:#ffffff;overflow:hidden;}
.achievement .achievement-inner .achievement-header .achievement-heading{position:absolute;width:100%;left:0;top:0;height:200px;overflow:hidden;background-color:#ffffff;z-index:1;}
.achievement .achievement-inner .achievement-header .achievement-heading i{position:absolute;color:#424242;width:100%;top:18%;font-size:70px;}
.achievement .achievement-inner .achievement-header .achievement-heading h6{position:absolute;width:100%;top:60%;padding:0 15px;font-size:1.1em;font-weight:400;}
.achievement .achievement-inner .achievement-header .achievement-more-btn{position:absolute;top:170px;left:70%;background-color:#00bcd4;}
.achievement .achievement-inner .achievement-content{position:relative;top:0;display:none;width:100%;height:auto;background-color:#424242;}
.achievement .achievement-inner .achievement-content p{padding:30px 30px;color:#fff;}
#publications .publication{padding:30px 20px;margin-top:60px;}
#publications .publication .icon-div{position:absolute;width:70px;height:70px;top:-35px;left:50%;margin-left:-35px;border-radius:50%;background-color:#424242;}
#publications .publication .icon-div i{color:#ffffff;font-size:30px;vertical-align:middle;line-height:70px;}
#publications .publication h6{margin:0;line-height:1.4;font-size:1.25em;font-weight:400;color:#606060;padding:25px 20px 15px 20px;border-bottom:1px solid #dddddd;}
#publications .publication ul{margin:20px 0 0 0;}
#publications .publication ul li{margin-bottom:10px;margin-right:20px;}
#publications .publication ul li i{color:#424242;font-size:20px;vertical-align:middle;margin-right:10px;}
#publications .publication p{margin:10px 0;}
#publications .publication .btn{margin-top:20px;}
.blog{margin-bottom:25px;width:100%;height:auto;}
.blog:hover{box-shadow:0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);}
.blog .blog-content{padding:0 20px 0 20px;}
.blog .blog-title{position:relative;border-bottom:1px solid #dddddd;}
.blog .blog-title h6{margin:0;line-height:1.4;font-size:1.25em;font-weight:400;color:#606060;padding:20px 0;}
.blog .blog-title ul li{display:inline-block;color:#606060;margin-right:20px;}
.blog .blog-title ul li i{color:#424242;font-size:20px;vertical-align:middle;margin-right:10px;}
.blog .blog-title .more-btn{position:absolute;background-color:#00bcd4;bottom:-28px;left:100%;margin-left:-56px;overflow:hidden;-webkit-overflow:hidden;}
.blog p{padding:30px 0;margin:0;}
.visit-blog{padding:0 50px;margin-bottom:30px;color:#ffffff;}
#clients .clients-ref{margin-top:60px;}
#clients .clients-ref .client-photo{position:absolute;width:100%;margin-top:-50px;}
#clients .clients-ref .client-photo img{height:100px;width:100px;border-radius:50%;}
#clients h5{margin-bottom:30px;line-height:1.2;font-weight:400;}
#clients ul{margin:0;}
#clients ul li{display:inline-block;padding:0 20px;margin-bottom:20px;}
@media only screen and (max-width:767px){#clients ul li{padding:0 10px;}
}
#clients ul li img{width:100%;opacity:.5;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);}
#clients ul li img:hover{opacity:1;-webkit-filter:grayscale(0);-moz-filter:grayscale(0);-o-filter:grayscale(0);filter:grayscale(0);}
blockquote{padding:70px 35px 15px;font-style:italic;text-align:left;border-left:none;font-size:1em;border-top:5px solid #00bcd4;}
blockquote cite{display:block;margin:15px 0;font-size:1em;font-weight:500;}
blockquote blockquote:before{display:none;}
#pricing .period-btn li{color:#424242;cursor:pointer;display:inline-block;text-transform:uppercase;padding:10px 10px;}
#pricing .period-btn li a{color:#424242;font-weight:500;}
.period-type{width:100%;height:auto;margin-top:20px;}
.period-type .pricing-table{
    margin: 0 0 25px;
    width:100%;height:auto;background-color:#ffffff;color:#606060;padding:30px 30px;}
.period-type .pricing-table:hover{box-shadow:0 15px 25px 0 rgba(0, 0, 0, 0.16), 0 10px 15px 0 rgba(0, 0, 0, 0.12);}
.period-type .pricing-table h3{
    margin: 10px 0 0;
    font-size:1.2em;font-weight:500;color:#424242;}
.period-type .pricing-table h4{margin:30px 0;}
.period-type .pricing-table .dollar{font-size:.7em;font-weight:300;vertical-align:top;position:relative;bottom:6px;}
.period-type .pricing-table .amount{font-weight:500;vertical-align:middle;font-size:1.6em;}
.period-type .pricing-table .period{font-size:.7em;font-weight:300;vertical-align:bottom;position:relative;top:9px;}
.period-type .pricing-table ul{margin-bottom:30px;}
.period-type .pricing-table ul li{line-height:2.5;font-weight:300;border-top:1px solid #dddddd;}
.period-type .pricing-table ul li:nth-child(1){border-top:none;}
.interest{padding:30px 20px 20px 20px;}
.interest p{width:100%;height:auto;padding:0 80px;margin:20px 0;}
@media only screen and (max-width:640px){.interest p{padding:0;margin-top:0;}
}
.interest .interest-topic{margin:10px 15px;}
.interest .interest-topic i{display:block;font-size:35px;padding:0;color:#424242;}
.interest .interest-topic span{display:block;}
.info{width:100%;background-color:#424242;min-height:300px;height:auto;}
.info ul{padding:30px 20px;display:block;}
.info ul li{margin-bottom:15px;letter-spacing:1px;display:block;color:#ffffff;font-size:1em;font-weight:300;
}
.info ul li i{color:#ffffff;font-size:30px;}
.contact{width:100%;min-height:480px;height:auto;}
.contact form{padding:20px 40px;}
@media screen and (max-width:767px){.contact form{padding:20px 20px;}
}
.contact form button{width:150px;top:20px;margin-bottom:25px;}
.contact form button i{margin-right:10px;vertical-align:middle;}
.contact .progress{position:relative;height:3px;display:block;width:100%;background-color:#424242;border-radius:0;margin:0;top:0;}
.contact .is-hidden{visibility:hidden;}
.contact #snackbar, .contact #fail-snackbar{visibility:hidden;min-width:300px;margin-left:-150px;font-weight:300;background-color:#424242;color:#fff;text-align:center;padding:16px;position:fixed;z-index:1;left:50%;bottom:30px;}
.contact .show{visibility:visible !important;-webkit-animation:fadein 0.5s, fadeout 0.5s 2.5s;animation:fadein 0.5s, fadeout 0.5s 2.5s;}
@-webkit-keyframes fadein{from{bottom:0;opacity:0;}
to{bottom:30px;opacity:1;}
}
@keyframes fadein{from{bottom:0;opacity:0;}
to{bottom:30px;opacity:1;}
}
@-webkit-keyframes fadeout{from{bottom:30px;opacity:1;}
to{bottom:0;opacity:0;}
}
@keyframes fadeout{from{bottom:30px;opacity:1;}
to{bottom:0;opacity:0;}
}
.hiddendiv{display:none;white-space:pre-wrap;word-wrap:break-word;overflow-wrap:break-word;padding-top:1.2rem;}
footer{width:100%;margin-top:40px;height:auto;background-color:#ffffff;color:#ffffff;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
footer p{margin:10px 0;line-height:30px;}
